body{
      background: rgb(238, 239, 242);
      overflow-x: hidden;
}
.nav{
      width: 100%;
      background-color: #fff;
      height: 88px;
}

.searchicon{
      position: absolute;
      z-index: 1;
}
.searchbar{
      width: 343px;
      height: 50px;
      border-radius: 32px;
      gap: 10px;
      padding: 14px;
      background-color: #F7F9FE;
      border: 2px solid #EEEEEF;
      position: relative;
}
.notification-bar{
      width: 227px;
}
.notification-bar > :first-child{
      width:22px;
      height: 22px;
      margin-top: 6px;
}
.notification-bar :nth-child(2){
      width:40px;
      height: 40px;
}
.notification-bar :nth-child(3){
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #363636;
      margin-top: 6px;
}
.notification-bar :nth-child(4){
      width: 24px;
      height: 24px;
      margin-top: 5px;
}
.sidebar{
      width: 254px;
      height: 1050px;
      display: flex;
      flex-direction: column;
      gap: 27px;
      position: static;
      border-radius: 0px, 16px, 16px, 0px;
}
ul :nth-child(3){
      background: #E9F2FF;
      border-right: 6PX SOLID #2762BF;
      margin-left: 10%;
      border-radius: 2px;
      width: 90%;
      padding-left: 10%;
}
li{
      list-style-type: none;
      width:100%;
      line-height: 27px;
      font-size: 18px;
      font-weight: 600;
      color: #808185;
      text-align: left;
      padding-left: 20%;
      color: #67676A;
}


main .flex-column .figures {
      background-color: white;
}
main .flex-column .figures h5{
      font-size: 32px;
      font-weight: 700;
      line-height: 54px;
      color: #1A1A1A;

}
main .flex-column .main-content > :first-child{
      background: #E9F2FF;
      width: 90%;
      height: 268px;
      border: 1px solid #EEEEEF;
      border-radius: 16px;
      
}

.main-content figure div{
      gap: 16px;
}
.referafriend{
      width: 368px;
}
.main-content figure div h6{
      color: #363636;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
     
}
.main-content figure div p{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #67676A;
}
label{
      color:#67676A;
      font-weight: 400;
      font-size: 15px;
      line-height: 22.5px;
}
.link-container input{
      display: flex;
      border-radius: 8px;
      border: 1px solid #EEEEEF;
      height: 40px;
      width: 260px;
      position: relative;
}

.link-container button{
      width: 78px;
      height: 32px;
      border-radius: 4px;
      padding: 159px, 32px, 159px, 32px;
      background: #2762BF;
      border: none;
      color: white;
      font-size: 12px;
      line-height: 18px;
      position: absolute;
      align-self: center;
      margin-left: 275px;
}
.link-container .disabled{
      background-color: #2762BF80;
}
.myreferrals >:first-child{
      width: 90%;
      padding-left: 0;
}
.myreferrals >:first-child h6{
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: #363636;
}
.myreferrals >:first-child div >:first-child{
      background-color: #E6EEFC;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      width: 200px;
      height: 48px;
}
.myreferrals >:first-child div button span{
      font-weight: 700;
      color: #2762BF;
}
.myreferrals >:first-child div :nth-child(2){
      background-color: #2762BF;
      border-radius: 50px;
      color: white;
      gap:8px;
      width: 124px;
      height: 48px;
      border: none;
}
.table-container{
      height: 384px;
      margin-left: 4%;
      margin-right: 4%;
      padding-left: 10px; 
       padding-right: 10px;
}
.table-container .table tr{
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #363636;
}
.status-data{
      border-radius: 30px;
      width:58px;
      gap:10px;
      color:#05A660;
      line-height: 21px;
      font-size: 14px;
      font-weight: 500;
      padding: 4px, 12px, 4px, 12px;
      background-color: #E9F9EF;
}
.status-data2{
      border-radius: 30px;
      width:75px;
      gap:10px;
      color:#F96060;
      line-height: 21px;
      font-size: 14px;
      font-weight: 500;
      padding: 4px, 12px, 4px, 12px;
      background-color: #FEEFEF;
}
.pagination{
      display: flex;
      width: 362px;
      height: 50px;
      gap: 24px;
      align-items: center;
      text-align: center;   
      
}
.pagination p{
      font-weight: 400;
      font-size: 16px;
      color: #CDCDD0;
      margin-top: 
      5%;
      line-height: 24px;
}
.pagination .blue-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #2762BF;
      color: white;
      display: flex;
      align-items: center;
      place-content: center;
}
.pagination .inactive{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #E6EEFCFC;
      border:1px solid #EEEEEF;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center
      

}
.pagination figure{
      height: 24px;
      display: flex;
      
    
}
.pagination figure p{
      text-align: end;
}
.pagination figure img{
      cursor: pointer;
      margin-top: 5px;
}


@media (max-width:1000px) {
      .sidebar{
            position: absolute;
            z-index: 1;
            width: 70vw;
      
        }    
}

@media (max-width :768px) {
     .nav a img{
         width: 50px;
     }
  .searchbar{
      width: 50vw;
      height: 40px;
      margin-left: 5%;

  }
  main :nth-child(2) {
      width: 95vw;
      margin-left: 2px;
  }
  
  .referafriend{
      width: 45%;
  }

  main .flex-column .main-content > :first-child {
      height: max-content;
  }     
}

@media  (max-width :700px){
      main .blue-container{
            display: flex;
            flex-direction: column;
            align-items: center;        
      }
      .referafriend{
            width: 90%;
            
      }
      .link-container button{
            width: 60px;
            margin-left:220px;
      }
      .link-container input{
            width: 180px;
      }
      .myreferrals >:first-child{
            display: flex;
            flex-direction: column;
            gap: 14px;
      }
      .myreferrals >:first-child .buttons{
            display: flex;
            flex-direction: column;
      }
      .main-content img{
            width: 30%;
      }
      .main-content figure div p{
            font-size: 13.5px;
      }
     

     .table-container{
      margin-left: 0;
     
}
main .flex-column .figures {
      width: 93vw;}

.pagination {
    display: none;
}

.table-container{
      max-width: max-content;
}
.table th{
      font-size: 14px;

}
     



@media only screen and (max-width:760px){
      .searchbar {
            width: 46vw;
      }
      .notification-bar :nth-child(2){
            width: 30px;
            height: 30px;
      }
      .notification-bar{
            width: 110px;
      
      }
      .table-container{
            padding-left:0;
            padding-right: 0;
      }
      
      .table-container  table th {
            word-wrap: break-word;
            /* overflow-wrap: break-word; */
            /* background-color: red; */
      }
      .table-container  table td{
      font-size: 14px;
      }
      
     

     

}