.course__section {
  background-image: url("./images/courses/course_hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  padding-top: 7rem;
  color: white;
}
img {
  width: 100%;
}

.box__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* gap: 3rem; */
  margin-top: 4rem;
}

.card__title {
  p:first-child {
    font-size: 18px;
    font-weight: 700;
  }
}
.course__details {
  background-image: url("./images/courses/Hero\ Section.png");
}

.learning__objective {
  h1 {
    /* font-family: DM Sans; */
    font-size: 36px;
    font-weight: 700;
    color: #000;
  }
  .check-right img {
    width: 20px;
  }
  button {
    padding: 0.6rem 3rem;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background: #2762bf;
    color: white;
  }
}
.box__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 2fr));
  gap: 3rem;
  /* /* width: 120px; */
  /* height: 289px; */
  padding: 64px 19px 102px 19px;
  margin-top: 4rem;
  text-align: center;

  .card__title {
    p:first-child {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .card__image img {
    width: 64px;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
  }
}

.agile__ceremony {
  background: #f9fdff;
  .card__title {
    p:first-child {
      font-size: 18px;
      font-weight: 700;
    }
  }
  button {
    padding: 0.6rem 3rem;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background: #2762bf;
    color: white;
    margin-bottom: 3rem;
  }
}
