
 /* REFERRAL */
img {
    border-radius: unset !important;
}
 input:focus {
     outline: none;
 }

 .referralbox {
     width: 650px;
     height: 477px;
     border: 1px;
     box-shadow: 0px 3px 10px 0px #0000001A;
     display: flex;
     flex-direction: row;
     margin-top: 82px;
     border-radius: 20px;
     margin-bottom: 20%;
 }

 .referbox {
     display: flex;
     flex-direction: column;
     width: 339px;
     height: 220px;
     margin-top: 77px;
     margin-left: 140.5px;
     gap: 16px;
     align-items: center;
 }

 .tick-box {
     width: 100px;
     height: 100px;

 }

 .referralbox :nth-child(2) {
     display: flex;
     flex-direction: column;
     gap: 8px;
     align-items: center;
 }

 .verify-email :nth-child(1) {
     line-height: 42px;
     color: #1A1A1A;
     font-size: 28px;
     font-weight: 800;
 }

 .verify-email :nth-child(2) {
     font-size: 18px;
     font-weight: 500;
     text-align: center;
     line-height: 27px;
     color: #67676A;
 }

 .referralbox button {
     width: 90%;
     height: 48px;
     border-radius: 50px;
     background-color: #2762BF;
     gap: 8px;
     border: 0;
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     margin-top: 20px;
     align-content: center;
     place-content: center;
     /* place-self: center; */

 }

 /* REQUEST SUBMISSION PAGE */

 .request-container {
     width: 100%;
     place-items: center;
     display: flex;
     flex-direction: column;
     margin-top: 77px;
     gap: 16px;
     text-align: center;
 }

 .request-box :nth-child(1) {
     line-height: 42px;
     color: #1A1A1A;
     font-size: 25px;
     font-weight: 800;

 }

 .request-container {
     display: flex;
     flex-direction: column;
     gap: 10px !important;
 }



 /* SIGNUP ANDD LOGIN  */

 .signup-page {
    overflow: hidden;
 }

 .signup-page .form-container {
     width: 476px;

     margin-left: 130px;
     display: flex;
     flex-direction: column;
     gap: 32px;
     margin-top: 69px;


 }

 .signup-page .row .form-container h6 {
     max-width: 269px;
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
     align-self: center;
     color: #363636;
 }

 .signup-form {     gap: 16px;

 }

 .signup-form figure {
     height: 80px;
     display: flex;
     flex-direction: column;
     gap: 8px;
 }

 .signup-form figure label {
     color: #363636;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
 }

 .signup-form figure input {
     height: 48px;
 }

 .signup-form figure button {
     font-weight: 500;
     line-height: 24px;
     font-size: 16px;

 }

 .signup-form .checkbox p {
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
 }

 .signup-form .checkbox p a {
     text-decoration: none;
 }

 .verify-container {
     width: 620px;
     height: 477px;
     border: 1px;
     box-shadow: 0px 3px 10px 0px #0000001A;
     display: flex;
     flex-direction: row;
     margin-top: 82px;
     border-radius: 20px;
     margin-bottom: 20%;

 }

 .verify-box {
     width: 466px;
     height: 354px;
     margin-left: 70.5px;
     align-items: flex-start;
 }

 .verify-box button {
     height: 48px;
     border-radius: 50px;
     background-color: #2762BF;
     gap: 8px;
     border: 0;
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     margin-top: 20px;
     align-content: center;
     place-content: center;
     place-self: center;
     width: 90%;
 }

 .verify-box h6 {
     font-size: 27px;
     font-weight: 800;
     color: #1A1A1A;
     line-height: 27px;
     place-self: flex-start;
 }

 .verify-box p {
     font-weight: 500;
     color: #67676A;
     place-self: center;

 }

 .input-container {
     width: 466px;
     height: 500px;
     gap: 2px;
 }

 .otp-input {
     border: 1px solid rgb(181, 179, 179);
     width: 70px;
     height: 48px;
     border-radius: 8px;
     margin-top: 10px;
     text-align: center;
 }

 .forgot-password {
     place-content: flex-end;
 }

 .nav {
     height: 101px;
     background: #E9F2FF;
     width: 100vw;
 }

 .fg-password-input,
.password-input-container :nth-child(2) {
    height: 48px;
     border-radius: 8px;
     border: 1px solid #DDDEE0;

 }

 .reset-password-input {
     height: 48px;
     border-radius: 8px;
     border: 0.1;
     border-color: #DDDEE0;
     position: relative;
 }

 .lock-icon {
     position: absolute;
     z-index: 1;
     margin-top: 11.4em;
     margin-left: 20px;


 }

 .template-rec {
     background-color: #05274C;
     width: 100%;
     height: 15.54px;
 }

 .email-bar {
     width: 85%;
     margin-top: 55.06px;
     margin-left: 40.4px;
 }

 .email-bar img {
     width: 93.91px;
     height: 66.23px;
 }

 .email-bar div {
     flex-direction: column;
     height: 51.01px;
     width: 208px;
     place-items: center;
 }

 .email-bar div a {
     text-decoration: none;
     font-weight: 500;
     font-size: 15.03px;
     line-height: 22.54px;
     color: #05274C;
 }

 .email-content {
     width: 83%;
     margin-top: 165.34px;
     gap: 10.02px;
     margin-left: 40.4px;
 }

 .email-content h5 {
     font-weight: 700;
     font-size: 28px;
     line-height: 42.08px;
     color: #000;
 }
 .email-content h5 span {
     font-weight: 700;
     font-size: 28px;
     line-height: 42.08px;
     color: #27575D;
 }

 .email-btn {
     text-decoration: none;
     color: white;
     width: 364.7px;
     align-self: center;
     margin-left: auto;
     height: 48px;
     padding: 159.31px, 32.06px, 159.31px, 32.06px;
 }

 .email-close {
     font-size: 20.04px;
     line-height: 30.06px;
     color: #363636;
     margin-top: 50px;
     margin-left: 40.4px;
 }

 /* 
.footer {
  margin-top: 100px;
} */


 @media (max-width :1024px) {
     .referralbox {
         width: 95%;
     }

     .referralbox> :first-child {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
     }

     .referralsignup button {
         width: 95%;
     }

     .signup-page .row .form-container h6 {
         width: 60vw;
     }
 }

 .email-alert {
     background-color: #2762BF;
     border-radius: 10px;
     width: 450px;
     height: 60px;
     place-self: center;
     /* align-self: center;    */

 }

 @media (max-width : 1020px) {
     .signup-page .row {
         display: flex;
         flex-direction: column;
     }

     .instructions-img {
         width: 100vw;
     }

     .signup-page .row .form-container {
         margin-left: 10%;
         margin-right: 10%;
     }

     /* .signup-page .row .form-container  figure{
        background-color: green;
        width: 100%;
  } */

     .signup-form {
         width: 90vw;
         margin-left: 0;
     }

     .signup-page .row .form-container h6 {
         width: 90vw;
         margin-left: 0;

     }
 }


 @media (max-width :768px) {
     .verify-box h6 {
         font-size: 23px;

     }

     .verify-email .mail-text {
         font-size: 17px;
     }

     .referralbox button {
         width: 80% !important;
     }

     .verify-box buttton {
         width: 80%;
     }

     .email-btn {
         margin-left: 2px;
         width: 80%;
     }

     .email-bar {
         margin-left: 5%;
         width: 100%;
     }

     .email-bar img {
         width: 85px;
         height: 55px;
     }

     .verify-box {
         margin-left: 30px;
         width: 80vw;
     }

     .otp-input {
         width: 14%;

     }

     .signup-page .row {
         display: flex;
         flex-direction: column;
     }

     .signup-page .row .form-container {
         width: 90%;
         margin: auto;
     }

     .signup-form {
         width: 90vw;
         margin-left: 0;
     }

     .signup-page .row .form-container h6 {
         width: 90vw;
         margin-left: 0;

     }

     .lock-icon {
         margin-top: 11.8em;
     }



     .email-alert {
         width: 80vw;
     }

     .instructions-img {
         width: 100%;
     }

 }


 @media (max-width: 400px) {

    .signup-form .d-flex {
        flex-direction: column !important;
        gap: unset !important;;
    }

        .signup-form .d-flex .w-50 {
            width: 100% !important;
        } 

     .verify-email .mail-text {
         font-size: 15px !important;

     }

     .verify-box .text-code {
         align-items: self-start !important;
         font-size: 14px !important;
          place-self: center ;
     }

     .verify-box button {
         font-size: 12px;
         line-height: 20px;
         letter-spacing: 0.3px;
     }

     .request-box h6 {
         font-size: 20px !important;
         line-height: 35px !important;
     }

     .congrats-container {
         width: 80vw !important;
     }

     .tie-container {
         height: 700px;
     }

     .tie-container .button-container {
         margin-top: 70px !important;
     }

 }




